@import
url('https://fonts.googleapis.com/css2?family= Ubuntu & display=swap');

@import url('https://fonts.googleapis.com/css2?family=Agdasima&display=swap');

:root {
    --Color-back: #2980B9; 
    --Color-text: #273746;
    
}


body {
    background: #efefef84;
}


* {
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.section-info-container {
    padding: 0 5.625rem;
    display: flex;
    align-items: center;
    font-size: .8rem;
    justify-content: space-between;
    background: var(--Color-back);
    color: var(--Color-text);
    box-shadow: -4px 4px 4px #00000033;

    
}

.section-info-container a {
    color: var(--Color-text);
    font-weight: bold;
}

.discord-info-container {
    display: flex;
    align-items: center;
    gap: 5px;

}

.discord-info-container svg {
    width: 35px;
    max-width: 100%;
}


.container-head {
    user-select: none;
    display: flex;
    padding: 0rem 5.625rem;
    align-items: center;
    justify-content: space-between;
    background-color: #00a1fe;
    background-image: linear-gradient(180deg, #39c0ffe5 0%, #00ccbc 100%);
    font-size: large; 
    border-bottom: 3px #0000005b solid;
    box-shadow: -4px 4px 4px #00000033;



}

.container-head h1 {
    font-family: 'Agdasima', sans-serif;
    font-size: 3.5rem;
    color: var(--Color-text);
}

.nav-items ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    gap: .625rem;
}

.nav-items ul li a {
    transition: .5s;
    font-weight: bold;
    color: var(--Color-text);
    cursor: pointer;
}

.nav-items ul li a:hover {
    font-size: 1.275rem;
    color: white;
}

.items-section-container {
    transition: .5s;
    display: flex;
    flex-wrap: wrap;
    gap: .625rem;
    justify-content: center;
    align-items: center;
    margin-top: 1.875rem;
}

.image-item-container {
    display: flex;
    width: 35rem;
    max-width: 100%;
}

.text-items-container {
    transition: .5s;
    width: 45rem;
    position: relative;
    animation: slideFromLeft 1s forwards;
}

.image-item-container img {
    transition: .5s;
    display: flex;
    box-shadow: -4px 4px 4px #00000033;
    border-radius: .615rem;
    height: max-content;
    border-right: 5px solid #3ffb0f;
    position: relative;
  animation: slideFromRight 1s forwards;
}

@keyframes slideFromRight {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  
.photo-item svg {
    width: 30px;
}

.photo-item .gift {
    display: flex;
    align-items: center;
    user-select: none;
    gap: .313rem;
    cursor: pointer;
} 

.photo-item .gift:hover {
    transition: .5s;
    color: #000000;
    gap: .250px;


}

.image-item-container img:hover {
    cursor: pointer;
    border-right: 10px solid var(--Color-text);
    box-shadow: none;
}

.text-items-container {
    display: flex;
    font-size: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .625rem;
}



.text-items-container h1 {
    color: #3ffb0f;
}

.text-items-container p {
    max-width: 80%;
    line-height: 1.3rem;
    font-size: larger;
    font-weight: bold;
    color: var(
        --Color-text
    );
}


.text-items-container h1::after {
    content: '';
    position: relative;
    border: #ffe53c99 solid 5px;
    border-top: none;
    border-bottom: none;
    left: -32px;
    z-index: -1;
    border-radius: 5px;
}


.text-items-container p::after {
    content: '';
    position: relative;
    border: #37e10c99 solid 5px;
    border-top: none;
    border-bottom: none;
    left: -32px;
    z-index: -1;
    border-radius: 5px;
}



.division {
    margin-top: 1rem;
    border: solid 2px #36E10C;
    width: 43.75rem;
    border-radius: 5px;
}

.item-info {
    display: flex;

    flex-direction: column;
    font-size:  2rem;
    justify-content: flex-start;
    line-height: 1;
}

.item-info h1 {
    color: var(--Color-text);
}

.item-info p {
    color: #151e27;
}

.planos-container {
    display: flex;
    margin-top: 1rem;
    padding: .625rem;
    background: #afafaf23;
    gap: .5rem;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.photo-item img {
    width: 300px;
}

.photo-item {
    display: flex;
    flex-direction: column;
    height: auto;
    border-radius: 5px;
    align-items: center;
    box-shadow: -4px 4px 4px #00000033;

}

.items-photo-container {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: space-evenly;
    align-items: end;
    width: 100%;
}

@media (max-width: 600px) {

    .items-photo-container {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
        justify-content: center;
        align-items: end;
        width: 70%;
    }


}

.roxo {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
    color: #00000042;
    background: #663399;
    border-top: #663399 solid 5px;
}

.azul {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
    color: #00000042;
    background: #337299;
    border-top: #337299 solid 5px;
}

.verde {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
    color: #00000042;
    background: #359933;
    border-top: #359933 solid 5px;
}

.photo-item p {
    padding: .625rem;
    font-size: large;
}


.photo-item .pand0 {
    padding: 0;
    border-bottom: 3px #0000005b solid;
}

.photo-item .colorButton {
    transition: .5s;
    cursor: pointer;
    display: inline-block;
    background-color: #fec400;
    background-image: linear-gradient(180deg, #fec400 0%, #cc6400 100%);
    color: rgb(101, 66, 0);
    border-radius: .315rem;
    margin: .315rem;
}

.photo-item .colorButton:hover {
    user-select: none;
    padding: .8rem;
    color: #000000;
}

.item-info h1::after {
    content: '';
    position: relative;
    border: #37e10c99 solid 5px;
    border-top: none;
    border-bottom: none;
    left: -32px;
    z-index: -1;
    border-radius: 5px;
}

.item-info p::after {
    content: '';
    position: relative;
    border: #0ce1a899 solid 5px;
    border-top: none;
    border-bottom: none;
    left: -32px;
    z-index: -1;
    border-radius: 5px;
}

.section-info-container h4:hover {
    transition: .5s;
    cursor: pointer;
    user-select: none;
    color: rgb(19, 185, 138);
}

.section-info-container a:hover {
    transition: .5s;
    color: white;
}

.colorButton {
    font-family: 'Agdasima', sans-serif;
    letter-spacing: 2px;
}

.photo-item p sup {
    background-color: #fe0000;
    background-image: linear-gradient(180deg, #fe0000 0%, #8b0000 100%);    
    padding: 2px;
    color: #000000;
    margin: 2px;
    background-color: #00ccbc;
    letter-spacing: 0px;
    border-radius: 5px;

}

.pacotes-container {
    display: flex;
    margin: 3rem 0;
    flex-wrap: wrap;
    gap: .625rem;
    border-bottom: 3px solid var(--Color-text);
    border-top: 3px solid var(--Color-text);
    box-shadow: 6px 4px 8px #00000033;
    justify-content: space-around;
    background: #acacac;
    padding: 1rem 2rem;
}

.pacote-container {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    gap: .625rem;
    font-size: 1.625rem;
    border: 5px solid #d4d4d4;
    padding: 1rem;
    box-shadow: -4px 4px 7px #00000033;

}

.pacote-container .bronze {
    background-image: linear-gradient(180deg, #f2c489, #924400);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .5px black; /* Tamanho e cor da borda */
}

.pacote-container .prata {
    background-image: linear-gradient(180deg, #c7c7c7, #787878);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;;
    -webkit-text-stroke: .5px black; /* Tamanho e cor da borda */

}

.pacote-container .ouro {
    background-image: linear-gradient(180deg, #ffea00, #c69801);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;;
    -webkit-text-stroke: .5px black; /* Tamanho e cor da borda */

}

.pacote-container {
    color: #d4d4d4;
    font-weight: bold;
}

.pacote-container ul {
    display: flex;
    list-style: disc;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    padding: 30px;
}

.pacote-container .Price {
    background-color: #fec400;
    background-image: linear-gradient(180deg, #fec400 0%, #cc6400 100%);
    color :#473704;
    padding: .625rem;
    border-radius: 5px;
    box-shadow: -4px 4px 4px #00000033;

}

.pacote-container .Price:hover {
    transition: .5s;
    cursor: pointer;
    font-size: 1.5rem;
    background-color: #52e900;
    background-image: linear-gradient(160deg, #52e900 0%, #49c74e 100%);
    color: whitesmoke;
    font-weight: bolder;
    box-shadow: none;

}

.pacote-container .Price sup {
    background-color: #fe0000;
    background-image: linear-gradient(180deg, #fe0000 0%, #8b0000 100%);    
    padding: 2px;
    color: #000000;
    margin: 2px;
    background-color: #00ccbc;
    letter-spacing: 0px;
    border-radius: 5px;
}

.pacote-container ul li {
    text-shadow: 2px 2px 4px #00000080;
    user-select: none;
}

.final-container {                      
    background-color: #1c2330;
    background-image: linear-gradient(160deg, #1c2330 0%, #0d1117 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 5rem;
}




.github-link {
    display: flex;
    flex-direction: column;
    gap: .5rem;

}

.github-link h1 {
    color: #e6edf3;
    text-align: center;
}

.container-Link {
    display: flex;
    align-items: center;
    gap: .5rem;
    border-radius: .5rem;
    background-color: #e6edf3;
    background-image: linear-gradient(0deg, #e6edf3 0%, #d6dde3 100%);
    padding: 0 0 0 .5rem;
    
}

.container-Link:hover {
    transition: .5s;
    box-shadow: 0px 0px 7px #e6edf37e;
    border-right: greenyellow 5px solid;
    animation: balanco 1.5s ease infinite;
    transform-origin: center;
}


@keyframes balanco {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(2deg);
    }
    50% {
        transform: rotate(-2deg);
    }
    75% {
        transform: rotate(0deg);
    }
}

.container-Link a {
    text-align: center;
    font-weight: bold;
    color:#1c2330;

}


.final-container .github-link .container-Link svg {
    max-width: 100%;
    width: 2.25rem;
}
